@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: "Radio Canada Big", sans-serif;  */

body{
    font-family: "Radio Canada Big", sans-serif;
    height: 100%;
    margin: 0;
    
}

/* Estilos para el header*/

header{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Primer rectángulo verde */

header .header1{
    display: flex;
    background-color: #61AD2F;
    font-size: .9375rem;
    color: #ffffff;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6px;
    padding-bottom: .375rem;       
}

header .header1 h2{
    font-size: .9375rem;
    margin-bottom: 0;
}

header .header1 .mail{
    display: flex;
    font-size: .9375rem;
    margin-bottom: 0;
    align-items: center;
    gap: .5rem;
}

header .header1 .phone{
    display: flex;
    font-size: .9375rem;
    margin-bottom: 0;
    align-items: center;
    gap: .5rem;
}

header .header1 i{
    color: #007bff;
}

/* Logo */

header .logo img{
    display: block;
    margin: 0 auto;
    margin-top: .625rem;
    margin-bottom: .625rem;
    width: 12.5rem;
}

/* Barra de navegación Bootstrap */

.navbar .nav-link{
    color:black;
    font-size: 1.25rem;
    font-weight: bold;
}

.navbar .nav-link:hover{
    color: #61AD2F;
}

.navbar .navbar-toggler {
    margin-left: 80%; 
    
}

.navbar .navbar-toggler:hover{
    color: #61AD2F;
}

.transparent-rectangle {
    width: 70vw; 
    height: auto; 
    background-color: hsla(96, 57%, 43%, 0.3); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    margin: 0 auto; 
}

.transparent-rectangle .seleccionarPag {
    margin-bottom: 0 !important;
    margin-left: 20%; 
    white-space: nowrap; 
}

@media  (min-width:992px) {
    .transparent-rectangle{
        display: none;
    }
}


/* Estilos para el main de INDEX */

main{
    margin-top: 12.5rem;
    background-image: url(../assets/backgrounds/comodoro2-laptop-l.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

main .contenido{
    background-color: rgba(217, 220, 231, 0.6);
    position: relative;
    margin: 0 3%;
}

main .contenido h1{   
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}

main .contenido .cajaFotosCuerpo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 .9375rem;
    gap: .9375rem;
    justify-items: center;
    align-items: center;
}

main .contenido .cajaFotosCuerpo img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
}

main .contenido article{
    font-size: 1.25rem;
    margin: 5%;
}

#historia{
    padding-top: 13.75rem;
    margin-top: -13.75rem;
}

main .servicios{
    display: flex;
    justify-content: space-around;
}

main .servicios .tilde{
    width: 12.5rem;
    height: 15.625rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .servicios .tilde img{
    max-width: 100%;
    height: auto;
}

main .servicios .tilde a{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

main .servicios .tilde a h3{
    font-size: 1.3rem;
}

main .servicios .tilde a:hover{
    color: #61AD2F;
}



/* Estilos para el footer */

footer .datos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: #61AD2F;
    padding: 20px;
    color: #ffffff;
}

footer .datos .ensayos p {
    padding-top: .9375rem;
    font-weight: bold;
    font-size: 1.875rem;
}

footer .datos address {
    font-style: normal; 
    line-height: 1.5;
    padding-top: .9375rem;
}

footer .datos .telefonos p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3.5vh;
    gap: .125rem; 
}

footer .datos .telefonos p i {
    color: #007bff;
}

:root footer .copyright p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}



/* Estilos para el main de SERVICIOS */

main .contenido .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
}

main .contenido .titulo h1, main .contenido .titulo h2{
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}

main .losServicios{
    margin: 90px;
}

#lp, #pm, #me, #ph, #os{
    scroll-margin-top: 13.75rem;
}

main .losServicios h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.875rem;
    color: #000000;
}

main .losServicios .caja1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6.25rem;
    max-width: 80vw;
    margin: 0 auto;
}

.losServicios .caja1 img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

main .losServicios .caja1 p {
    max-width: 55%;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

main #os{
    text-align: center;
    margin-bottom: 1.875rem;
    font-size: 1.875rem;
    color: #000000;
}

section {
    margin: 20px;
    text-align: center;
}

#os {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

.otrosServicios {
    display: flex;
    justify-content:space-evenly;
    gap: 9.375rem; 
}

.servicio {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.servicio h3 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #000000;
}

.servicio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.servicio p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin-bottom: 1.25rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


/* Estilos para el main de TRABAJOS */

main .contenido2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 220, 231, 0.6);
    position: relative;
    margin: 0 3%;
}

main .contenido2 .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
}

main .contenido2 .titulo h1, main .contenido2 .titulo h2{   
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}


main .contenido2 .losTrabajos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-top: 1.25rem;
    width: 100%;
    max-width: 1600px;
    margin-bottom: 1.875rem;
}

main .contenido2 .losTrabajos .trabajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .contenido2 .losTrabajos img{
    width: 80%;
    
    object-fit: contain;
}

main .contenido2 .losTrabajos p{
    margin-top: .625rem;
    font-size: 1.875rem;
}


/* Estilos para el main de CLIENTES */

main .contenido2 .losClientes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12.5rem;
    margin-top: 1.25rem;
    width: 100%;
    max-width: 1600px;
    margin-bottom: 1.875rem;
    padding-left: 6.25rem;
}

main .contenido2 .losClientes img{
    width: 80%;
    height: 31.25rem;
    object-fit: contain;
}


/* Estilos para el mail de CONTACTO */

main .contenido3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 220, 231, 0.6);
    position: relative;
    margin: 0 3%;
}

main .contenido3 .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
}

main .contenido3 .titulo h1, main .contenido3 .titulo h2{   
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}


main .contenido3 .formulario-container .mapa{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-right: 20px; 
}

main .contenido3 .formulario-container .mapa img {
    width: 100%; 
    max-width: 43.75rem;
}

main .contenido3 .formulario-container {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

main .contenido3 .formulario-container form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 400px; 
}

main .contenido3 .formulario-container form .submit-btn {
    margin-top: 30px; 
    align-self: flex-start; 
}

@media (min-width: 768px) {
    .formulario-container {
    display: flex;
    justify-content: space-between; 
    }

.mapa, form {
    flex: 1; 
    }
}


/* Media Querie sm (mobile-Bootstrap) para INDEX */

@media (max-width: 575.98px) {


header .header1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: .125rem;
}

.header1 h2 {
    font-size: 1.5rem;
}

.header1 p {
    margin: 5px 0;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    width: 80%;
    max-width: 150px;
}

  /* Barra de navegación */
.navbar {
    flex-direction: column;
    padding: 0;
}

.navbar .navbar-toggler {
    margin: 0 auto;
}

.navbar .navbar-nav {
    text-align: center;
}

  /* Main */
main .contenido {
    padding: 10px;
}

main .contenido h1{   
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: .9375rem;
}

.cajaFotosCuerpo {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.cajaFotosCuerpo img {
    width: 100%;
    max-width: 31.25rem; 
    margin-bottom: 10px;
}

main .contenido article{
    font-size: .9375rem;
    margin-top: 5%;
    margin-bottom: 10%;
}

main .servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

main .servicios .tilde{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11.25rem;
    
}

.tilde img{
    width: 120px; 
}

.tilde h3{
    text-align: center;
    font-size: 1.1rem;
}

  /* Footer */
footer {
    text-align: center;

}

footer .datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer address, footer .telefonos {
    margin-bottom: 10px;
}

.copyright {
    margin: .9375rem;
    font-size: 0.7rem;
}
}


/* Media Querie sm (mobile-Bootstrap) para TRABAJOS */


@media (max-width: 576px) {

    /* Main */

    main .contenido2 .titulo {
        display:  block !important;
        text-align: center;       
    }

    main .contenido2 .titulo h1{
        font-size: 1.25rem;
        white-space: nowrap;
        padding-top: 1.875rem;
    }

    main .contenido2 .titulo h2{
        font-size: 1.25rem;
        white-space: nowrap;
        padding-top: .625rem;
    }

    main .contenido2 .losTrabajos{
        display: flex !important;
        flex-direction: column;
        gap: .9375rem; 
        align-items: center;
    }

    main .contenido2 .losTrabajos .trabajo{
        width: 100%;
        text-align: center;
    }

    main .contenido2 .losTrabajos .trabajo img{
        max-width: 100%;
        height: auto !important;
    }

    main .contenido2 .losTrabajos .trabajo p{
        margin-top: .3125rem;
        font-size: 1.125rem;
    }
}





