@charset "UTF-8";
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Radio Canada Big", sans-serif;  */
body {
  font-family: "Radio Canada Big", sans-serif;
  height: 100%;
  margin: 0 auto;
}

/* Estilos para el header*/
header {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .header1 {
  display: flex;
  background-color: #61AD2F;
  font-size: 0.9375rem;
  color: #ffffff;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 0.375rem;
}
header .header1 h2 {
  font-size: 0.9375rem;
  margin-bottom: 0;
}
header .header1 .mail, header .header1 .phone {
  display: flex;
  font-size: 0.9375rem;
  margin-bottom: 0;
  align-items: center;
  gap: 0.5rem;
}
header .header1 i {
  color: #007bff;
}
header .logo img {
  display: block;
  margin: 0 auto;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  width: 12.5rem;
}

/* Barra de navegación Bootstrap */
.navbar {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}
.navbar .nav-link {
  color: #000000;
  font-size: 1.25rem;
  font-weight: bold;
}
.navbar .nav-link:hover {
  color: #61AD2F;
}
.navbar .navbar-toggler {
  margin-left: 80%;
}
.navbar .navbar-toggler:hover {
  color: #61AD2F;
}

.transparent-rectangle {
  width: 70vw;
  height: auto;
  background-color: hsla(96, 57%, 43%, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}
.transparent-rectangle .seleccionarPag {
  margin-bottom: 0 !important;
  margin-left: 20%;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .transparent-rectangle {
    display: none;
  }
}
/* Estilos para el main de INDEX */
main {
  margin-top: 12.5rem;
  background-image: url(../assets/comodoro2-laptop-l.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
main .contenido {
  background-color: rgba(217, 220, 231, 0.6);
  position: relative;
  margin: 0 3%;
}
main .contenido h1 {
  padding-top: 3%;
  padding-bottom: 2%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
main .contenido .cajaFotosCuerpo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 0.9375rem;
  gap: 0.9375rem;
  justify-items: center;
  align-items: center;
}
main .contenido .cajaFotosCuerpo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}
main .contenido article {
  font-size: 1.25rem;
  margin: 5%;
}

#historia {
  padding-top: 13.75rem;
  margin-top: -13.75rem;
}

main .servicios {
  display: flex;
  justify-content: space-around;
}
main .servicios .tilde {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 12.5rem;
  height: 15.625rem;
}
main .servicios .tilde img {
  max-width: 100%;
  height: auto;
}
main .servicios .tilde a {
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
}
main .servicios .tilde a h3 {
  font-size: 1.3rem;
}
main .servicios .tilde a h3 span {
  display: block;
}
main .servicios .tilde a:hover {
  color: #61AD2F;
}

/* Estilos para el footer */
footer .datos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: #61AD2F;
  padding: 20px;
  color: #ffffff;
}
footer .datos .ensayos p {
  padding-top: 0.9375rem;
  font-weight: bold;
  font-size: 1.875rem;
}
footer .datos address {
  font-style: normal;
  line-height: 1.5;
  padding-top: 0.9375rem;
}
footer .datos .telefonos p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3.5vh;
  gap: 0.125rem;
}
footer .datos .telefonos p i {
  color: #007bff;
}

:root footer .copyright p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* Estilos para el main de SERVICIOS */
main .contenido {
  height: 100%;
  padding-bottom: 0.625rem;
}
main .contenido .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
main .contenido .titulo h1, main .contenido .titulo h2 {
  padding-top: 3%;
  padding-bottom: 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}

main .losServicios {
  margin: 5.625rem;
}

#lp, #pm, #me, #ph, #os {
  scroll-margin-top: 13.75rem;
}

main .losServicios h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.875rem;
  color: #000000;
}
main .losServicios .caja1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.25rem;
  max-width: 80vw;
  margin: 0 auto;
}
main .losServicios .caja1 img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
main .losServicios .caja1 p {
  max-width: 55%;
  text-align: left;
  padding-left: 4.375rem;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

main #os {
  text-align: center;
  margin-bottom: 1.875rem;
  font-size: 1.875rem;
  color: #000000;
}

section {
  margin: 20px;
  text-align: center;
}

#os {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.otrosServicios {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.servicio {
  flex: 1;
  text-align: center;
  padding: 10px;
}
.servicio h3 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #000000;
}
.servicio img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}
.servicio p {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  margin-bottom: 1.25rem;
  margin-left: 6%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Estilos para el main de TRABAJOS */
main .contenido2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(217, 220, 231, 0.6);
  position: relative;
  margin: 0 3%;
}
main .contenido2 .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
main .contenido2 .titulo h1, main .contenido2 .titulo h2 {
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
main .contenido2 .losTrabajos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-top: 1.25rem;
  width: 100%;
  max-width: 1600px;
  margin-bottom: 1.875rem;
}
main .contenido2 .losTrabajos .trabajo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .contenido2 .losTrabajos img {
  width: 80%;
  height: 25rem;
  object-fit: cover;
}
main .contenido2 .losTrabajos p {
  margin-top: 0.625rem;
  margin-bottom: 0;
  font-size: 1.5625rem;
  line-height: 1.2;
}

/* Estilos para el main de CLIENTES */
main .contenido2 .losClientes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12.5rem;
  margin-top: 1.25rem;
  width: 100%;
  max-width: 1600px;
  margin-bottom: 1.875rem;
  padding-left: 6.25rem;
}
main .contenido2 .losClientes img {
  width: 80%;
  height: 31.25rem;
  object-fit: contain;
}

/* Estilos para el mail de CONTACTO */
main .contenido3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(217, 220, 231, 0.6);
  position: relative;
  margin: 0 3%;
}
main .contenido3 .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
main .contenido3 .titulo h1, main .contenido3 .titulo h2 {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
main .contenido3 .formulario-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  align-items: start;
  padding: 20px;
}
main .contenido3 .formulario-container .mapa {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 10px;
  align-items: center;
  justify-items: center;
}
main .contenido3 .formulario-container .mapa img {
  width: 100%;
  padding-bottom: 0.625rem;
  height: auto;
}
main .contenido3 .formulario-container .mapa p {
  font-size: 1.875rem;
  margin: 0;
  text-align: center;
  padding-bottom: 0.625rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: hsla(96, 57%, 43%, 0.3);
  font-weight: bold;
  border: 0.0625rem solid #61AD2F;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.submit-btn:hover {
  color: #ffffff;
  background-color: #61AD2F;
}

/* MEDIA QUERIE PARA DISPOSITIVOS MÓVILES */
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  /* Header - común para los 5 HTML */
  header .header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.125rem;
  }
  .header1 h2 {
    font-size: 1.5rem;
  }
  .header1 p {
    margin: 5px 0;
  }
  .logo {
    text-align: center;
    margin-bottom: 10px;
  }
  .logo img {
    width: 80%;
    max-width: 150px;
  }
  /* Footer - común para los 5 HTML */
  footer {
    text-align: center;
  }
  footer .datos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer address, footer .telefonos {
    margin-bottom: 10px;
  }
  .copyright {
    margin: 0.9375rem;
    font-size: 0.625rem;
  }
  /* Main de INDEX */
  main .contenido {
    padding: 10px;
  }
  main .contenido h1 {
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0.9375rem;
  }
  .cajaFotosCuerpo {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .cajaFotosCuerpo img {
    width: 100%;
    max-width: 31.25rem;
    margin-bottom: 10px;
  }
  main .contenido article {
    font-size: 0.9375rem;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  main .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main .servicios .tilde {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11.25rem;
  }
  .tilde img {
    width: 120px;
  }
  .tilde h3 {
    text-align: center;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  /* Barra de navegación común para los 5 HTML */
  .navbar {
    flex-direction: column;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }
  .navbar .collapse.show {
    background-color: hsla(96, 57%, 43%, 0.3);
  }
  .navbar .navbar-toggler {
    margin: 0 auto;
    border: none;
  }
  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
  }
  .navbar .navbar-nav {
    text-align: center;
  }
  /* Main de TRABAJOS */
  main .contenido2 .titulo {
    display: block !important;
    text-align: center;
  }
  main .contenido2 .titulo h2 {
    font-size: 1.25rem;
    white-space: nowrap;
    padding-top: 1.875rem;
  }
  main .contenido2 .titulo h1 {
    font-size: 1.25rem;
    white-space: nowrap;
    padding-top: 0.625rem;
  }
  main .contenido2 .losTrabajos {
    display: flex !important;
    flex-direction: column;
    gap: 0.9375rem;
    align-items: center;
  }
  main .contenido2 .losTrabajos .trabajo {
    width: 100%;
    text-align: center;
  }
  main .contenido2 .losTrabajos .trabajo img {
    max-width: 100%;
    height: auto !important;
  }
  main .contenido2 .losTrabajos .trabajo p {
    margin-top: 0.3125rem;
    font-size: 1.125rem;
  }
  /* Main de SERVICIOS */
  main .contenido .titulo {
    display: block !important;
    text-align: center;
  }
  main .contenido .titulo h2 {
    font-size: 1.25rem;
    white-space: nowrap;
    padding-top: 1.25rem;
  }
  main .contenido .titulo h1 {
    font-size: 1.25rem;
    white-space: nowrap;
    padding-top: 0.1875rem;
  }
  main .contenido .losServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  main .contenido .losServicios h3 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1.5625rem;
  }
  main .contenido .losServicios .caja1 {
    display: flex;
    flex-direction: column;
  }
  main .contenido .losServicios .caja1 img {
    max-width: 31.25rem;
  }
  main .contenido .losServicios .caja1 p {
    padding: 0.9375rem 0 0.5rem 0;
    max-width: 100%;
  }
  main .contenido section #os {
    font-size: 1.25rem;
    font-weight: bolder;
    padding-top: 0.9375rem;
  }
  main .contenido section .otrosServicios {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
  }
  main .contenido section .otrosServicios .servicio h3 {
    font-size: 1.25rem;
    padding-bottom: 0.3125rem;
  }
  main .contenido section .otrosServicios .servicio p {
    text-align: left;
  }
  /* Main de CLIENTES */
  main .contenido2 .losClientes {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
  }
  main .contenido2 .losClientes img {
    display: block;
    width: 18.75rem;
    height: 25rem;
    margin-right: 6.25rem;
  }
  /* Main de CONTACTO */
  main .contenido3 .titulo {
    display: block !important;
    text-align: center;
  }
  main .contenido3 .titulo h2 {
    font-size: 1.25rem;
    white-space: nowrap;
    padding-top: 1.875rem;
  }
  main .contenido3 .titulo h1 {
    font-size: 1.25rem;
    white-space: nowrap;
    padding-top: 0;
  }
  main .contenido3 .formulario-container {
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }
  main .contenido3 .formulario-container .mapa img {
    width: 100%;
  }
  main .contenido3 .formulario-container .mapa p {
    font-size: 1.0625rem;
    margin-bottom: 0.625rem;
    padding-top: 0;
  }
  .submit-btn {
    width: 100%;
  }
}
/* MEDIA QUERIE PARA TABLET */
@media screen and (min-width: 767.9px) and (max-width: 1025px) {
  /* Main de INDEX */
  main .contenido {
    padding: 10px;
  }
  main .contenido h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: bolder;
  }
  .cajaFotosCuerpo {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .cajaFotosCuerpo img {
    max-width: 31.25rem;
    margin-bottom: 0.9375rem;
  }
  main .contenido article {
    font-size: 0.9375rem;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: left;
    padding-left: 3.5%;
  }
  main .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "lp pm me" "ph .  os";
    gap: 0.9375rem;
    justify-items: center;
    align-items: center;
  }
  main .servicios .tilde {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 7.5rem;
    height: 11.25rem;
  }
  .tilde img {
    width: 120px;
  }
  main .servicios .tilde:nth-child(3) {
    grid-area: me;
  }
  main .servicios .tilde:nth-child(4) {
    grid-area: ph;
  }
  main .servicios .tilde:nth-child(5) {
    grid-area: os;
  }
  .tilde h3 {
    font-size: 0.9375rem !important;
  }
  /* Estilos para el main de SERVICIOS */
  main .contenido .titulo {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }
  main .contenido .titulo h1, main .contenido .titulo h2 {
    padding-top: 3%;
    padding-bottom: 0;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: bolder;
  }
  .otrosServicios {
    flex-direction: column;
    align-items: center;
  }
  .servicio {
    width: 100%;
  }
  .servicio p {
    text-align: left;
    margin-left: 5%;
  }
  /* Estilos para el main de TRABAJOS */
  main .contenido2 .titulo {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }
  main .contenido2 .titulo h1, main .contenido2 .titulo h2 {
    padding-top: 5%;
    padding-bottom: 0;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: bolder;
  }
  main .contenido2 .losTrabajos p {
    padding-top: 0.625rem;
    padding-bottom: 1.25rem;
    font-size: 1.5625rem !important;
  }
}
/* Ajuste para pantallas superiores a 1440 px */
@media (min-width: 1441px) {
  body, header {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
