// paleta de colores

$back:#ffffff;
$crins: #61AD2F;
$iconos: #007bff;
$fonts-color-def: #000000;
$crins-transp: hsla(96, 57%, 43%, 0.3);
$contenido: rgba(217, 220, 231, 0.6);
$navbar: rgb(255, 255, 255);